* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

body {
  text-align: center;
}

nav {
  width: fit-content;
  padding:15px;
  background-color: #f1f1f1;
  letter-spacing: 2px;
  margin:auto;
}

nav a {
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
  margin-left: 3px;
  margin-right: 3px;
}

.name {
  position: absolute;
  top: 200px;
  left: 780px;
  text-transform: uppercase;
  color: #fff;
  font-size: 3em;
  border: #fff solid 1px;
  width: auto;
  padding: 10px;
  letter-spacing: 5px;
}

.name h3 {
    font-weight: 100;
    margin: 20px;
}

.name h6 {
    font-weight: 50;
    margin: 20px;
}

img {
  width: 100%;
  height: auto;
}
.photographer img {
  max-width: 1500px;
}

#portfolio img {
  max-width: 1000px;
  margin-top: 10px;
}

#contact {
    background-color: #f1f1f1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    padding:20px;
    margin: auto;
    max-width: 1000px;
    margin-top: 10px;
    text-align: left;
}

nav:hover {
    
}

#contact h3 {
    font-weight: 500;
    font-size: 23px;
    margin: 20px 0;
    text-align: center;
}

#contact p {
    margin: 20px 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.inp {
    margin: 20px 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
}

.inp input, button {
    width:100%;
    padding:12px;
    margin-top: 5px;
}
#contact button {
    background-color: #616161;
    color:#fff;
    outline: 0;
}

